/* desktop size */
@media screen
and (min-width: 1024px){
        .project_link{
            width: 80%;
            background:  -webkit-linear-gradient(90deg, #476072 10%, #334257 70% );            
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
        }
        .link_project{
            color:#EEEEEE;
            text-decoration: none;
            font-size: 2vw;
            font-weight: bolder;
            font-style: oblique;
            /* margin: 0; */
        }
/* 
        .links_images{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        } */
        .headerIconProject{
            width:7%;
            margin:10px;
            cursor:pointer;
        }
    }


    /* tablet size */
    @media screen 
    and (max-width:1023px)
    and (min-width:768px){
        .project_link{
            width: 80%;
            background:  -webkit-linear-gradient(90deg, #476072 10%, #334257 80% );           
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-evenly;
        }
        .link_project{
            color:#EEEEEE;
            text-decoration: none;
            font-size: 4vw;
            font-weight: bolder;
            font-style: oblique;
        }
        .headerIconProject{
            width:10%;
            cursor:pointer;
            margin: 10px;
        }
    }

@media screen
    and (max-width:767px)
    and (min-width:320px){
        .project_link{
            width: 100%;
            background:  -webkit-linear-gradient(90deg, #476072 10%, #334257 80% );            
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: space-evenly;
        }
        .link_project{
            color:#EEEEEE;
            text-decoration: none;
            font-size: 4vw;
            font-weight: bolder;
            font-style: oblique;
        }
        .headerIconProject{
            width:10%;
            cursor:pointer;
            margin: 10px;
        }
    }