.contact__container{
    background-color: #e1cef1;
    width:50%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 100px;
}
.email_contact_section, .phone_contact_section{
    width: 100%;
    color:#7E3ABA;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
}
