.contact__container{
    background:  -webkit-linear-gradient(90deg, #334257 10%, #476072 70% );
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen 
and (min-width:421px){
    .contact_items{
        background:  -webkit-linear-gradient(90deg, #476072 10%, #334257 70% );
        width: 35%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 100px;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

    }
    .email_contact_section, .phone_contact_section{
        width: 100%;
        color:#EEEEEE;
        font-weight: bolder;
        font-size: 2vw;
        cursor: pointer;
        text-decoration: none;
        animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both infinite;

    }
    .phone_text{
        text-decoration: none;
        color:#EEEEEE;
    }

    @keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          transform: translateZ(0);
          opacity: 1;
        }
      }
      
      
      

    
}

@media screen 
and (max-width:420px){
    .contact_items{
        background:  -webkit-linear-gradient(90deg, #476072 10%, #334257 70% );
        width: 55%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 100px;
    }
    .email_contact_section, .phone_contact_section{
        width: 100%;
        color:#EEEEEE;
        font-weight: bolder;
        font-size: 4vw;
        cursor: pointer;
        text-decoration: none;
    }
    .phone_text{
        text-decoration: none;
        color:#EEEEEE;
    }
}

