
/* desktop size */
@media screen 
and (min-width:1024px) {
      .contact__container{
        background:  -webkit-linear-gradient(90deg, #334257 10%, #476072 70% );
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact_items{
        /* background:  -webkit-linear-gradient(90deg, #476072 10%, #334257 70% ); */
        width: 100%;
        /* height: 80px; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75); */
    }

    .email_contact_section, .phone_contact_section, .whatsapp_contact_section{
        width: 100%;
        color:#EEEEEE;
        font-weight: bolder;
        font-size: 2vw;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        /* animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both infinite; */

    }
    .phone_text{
        text-decoration: none;
        color:#EEEEEE;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .email-icon-container{
        cursor: pointer;
      }

      .email-icon-footer, .phone-icon-footer, .whatsapp-icon-footer{
        margin-left: 10px;
      }


    @keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          transform: translateZ(0);
          opacity: 1;
        }
      }
      .logo_contact_section{
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
      }
}

/* tablet size */
@media screen 
    and (max-width: 1023px)
    and (min-width: 768px){
      .contact__container{
        background:  -webkit-linear-gradient(90deg, #334257 10%, #476072 70% );
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .contact_items{
            background:  -webkit-linear-gradient(90deg, #476072 10%, #334257 70% );
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .email_contact_section, .phone_contact_section{
            width: 100%;
            color:#EEEEEE;
            font-weight: bolder;
            font-size: 3vw;
            cursor: pointer;
            text-decoration: none;
        }
        .phone_text{
            text-decoration: none;
            color:#EEEEEE;
        }
}


/* phone size */
@media screen 
and (max-width:767px)
and (min-width:320px){
  .contact__container{
    background:  -webkit-linear-gradient(90deg, #334257 10%, #476072 70% );
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .contact_items{
        background:  -webkit-linear-gradient(90deg, #476072 10%, #334257 70% );
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .email_contact_section, .phone_contact_section{
        width: 100%;
        color:#EEEEEE;
        font-weight: bolder;
        font-size: 4vw;
        cursor: pointer;
        text-decoration: none;
    }
    .phone_text{
        text-decoration: none;
        color:#EEEEEE;
    }
}


