# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json


# Build output
dist/
build/

# Editor/IDE files
.vscode/
.idea/
.DS_Store
*.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
node_modules

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarnrc.yml
yarn.lock
.yarn/
