@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

.header__container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: -webkit-linear-gradient(90deg,#af80da 10%, #7E3ABA  70%);
}
.header_logo_container{
    margin-left:10px;
    margin-top: 10px;
}
.profile_section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profilePicture{
    width: 35%;
    border-radius: 80px;
    margin-top: 50px;
    cursor:pointer;
    border: 5px solid #7E3ABA;

}
.headerIcon_container{
    margin-right: 10px;
    margin-top: 10px;
}
.headerIcon{
    width: 30px;
    margin:10px;
    cursor:pointer;
}
.name_title{
    font-weight: bolder;
    font-size: 3vw;
    font-family: 'Bonheur Royale', cursive;
cursor: pointer;
text-shadow: 1px 1px 2px black;

    color: white;
}
.position_title{
    font-weight: bolder;
    font-size: 2vw;
    font-family: 'Architects Daughter', cursive;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}