@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');


/* desktop size */
@media screen
and (min-width: 1024px) {
    .questions_container_row{
        width:50%;
        height: 100px;
        background-color: #334257;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 10px;
        margin-top: 30px;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

    }
     .question{
        width: 100%;
        color: #EEEEEE;
        font-weight: bolder;
        font-size:1.5vw;
        cursor: pointer;
    }


 .question:hover{
    width: 100%;
    background-color: #334257;
    color: #EEEEEE;
    border-radius: 20px;
    font-size: 1.5vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px #548CA8;
}
.questions_container_sidebar{
    width:10%;
    height:500px;
    background-color: #334257;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

}
}

/* tablet size */
@media screen 
    and (max-width:1023px)
    and (min-width:768px){
        .questions_container_row{
            width:85%;
            height: 100px;
            background-color: #334257;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            padding: 10px;
            margin-top: 30px;
            display: none;
        }
        .question{
            width: 100%;
            color: #EEEEEE;
            font-weight: bolder;
            font-size: 3.5vw;
            cursor: pointer;
        }
        .questions_container_sidebar{
            display: none;
        }
    }

/* phone' size */
@media screen
and (max-width:767px)
and (min-width:320px) {
    .questions_container_row{
        width:85%;
        height: 100px;
        background-color: #334257;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 10px;
        margin-top: 30px;
        display: none;
    }
    .question{
        width: 100%;
        color: #EEEEEE;
        font-weight: bolder;
        font-size: 4vw;
        cursor: pointer;
    }
    .questions_container_sidebar{
        display: none;
    }
}
