@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');



.questions_container_row{
    width:50%;
    height: 100px;
    background-color: #334257;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;

}


.question{
    width: 100%;
    color: #EEEEEE;
    font-weight: bolder;
    font-size: 1.3vw;
    cursor: pointer;
}
.question_clicked{
    width: 100%;
    height: 30%;
    background-color: #7E3ABA;
    color: #EEEEEE;
    border-radius: 20px;
    font-size: 1vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.question:hover{
    width: 100%;
    height: 100px;
    background-color: #334257;
    color: #EEEEEE;
    border-radius: 20px;
    font-size: 1.5vw;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 20px 30px #548CA8;
}

/*crear sidebar para question_container*/

.questions_container_sidebar{
    width:10%;
    height:500px;
    background-color: #334257;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
}