@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
*{
  padding: 0;
  margin: 0;
  
}
.App {
  text-align: center;
  /* background-color: #476072; */
  font-family: "Architects Daughter", cursive;
  overflow: hidden;
  color: black;
}
