.headerContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 100px;
}
.headerSection {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.headerTitleText {
  font-size: 3.5vh;
  cursor: pointer;
}

.navContainer li:hover {
  background-color: lavender;
  border-radius: 10px;
}

.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 10px;
}

.navLiItems {
  display: flex;
  align-items: center;
  width: 100%;
}
.active {
  background-color: lavender;
  border-radius: 10px;
}

.navLiOptions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navIconsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end;
}

.navLiIcons {
  width: 10%;
  //   margin-left: 5px;
}

.navIconImg {
  width: 50%;
}

.storySectionMainContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.storySectionContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  //min-height: 300px;
  margin-bottom: 100px;
}

// .active {
//   background-color: yellow;
// }

.storyOptionsContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 80px;
}

.storyOptionsContainer span:hover {
  background-color: lavender;
  border-radius: 10px;
}

.questionSectionContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.questionImageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.questionTextContainer {
  width: 50%;
}
.questionText {
  text-align: justify;
  line-height: 40px;
}

.questionPicture {
  width: 300px;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 4/3;
  mix-blend-mode: var(--card-blend-mode);
  opacity: 0.6;
  border-radius: 10px;
}

.buttonsFutureContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.buttonsFutureContainer span:hover {
  background-color: lavender;
  border-radius: 10px;
}
.buttonsFuture {
  // width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
}

// contact section

.contactContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
}

.contactItemContainer {
  background-color: yellow;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// landing

.landingContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.profilePicture {
  width: 20%;
  opacity: 0.8;
  border-radius: 10px;
}

.landingPagebuttons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.landingPageButton:hover {
  background-color: lavender;
}

.landingPageButton {
  border: 1px solid black;
  border-radius: 10px;
}

.landingPictureContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.landingTitleContainer {
  width: 30%;
  text-align: justify;
  padding: 0 20px;
}

.landingHiddenTextContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
