@media screen 
  and (min-width: 421px)
 {
    .logo_header{
        width: 70px;
        height:70px;
        cursor: pointer;
        border-radius: 150px;
        border: 2px solid white;
    }
    .logo_footer{
        width: 80px;
        height:80px;
        cursor: pointer;
        border-radius: 150px;
        border: 2px solid white;
    }
  }


/* phone' size */

@media screen 
  and (max-width: 420px) 
 {

    .logo_header{
        width: 25px;
        height:25px;
        cursor: pointer;
        border-radius: 150px;
        border: 2px solid white;
    }

    .logo_footer{
        width: 30px;
        height:30px;
        cursor: pointer;
        border-radius: 150px;
        border: 2px solid white;
    }
    

    

}