
.logo_header{
    width: 60px;
    height:60px;
    cursor: pointer;
    border-radius: 150px;
    border: 2px solid white;
}
.logo_footer{
    width: 60px;
    height:60px;
    cursor: pointer;
    border-radius: 150px;
    border: 2px solid white;
}

@media screen 
  and (max-width: 360px) 
  and (max-height: 640px) 
 {

    .logo_header{
        max-width: 20px;
        max-height:20px;
        cursor: pointer;
        border-radius: 150px;
        border: 2px solid white;
    }

}