.project_link{
    width: 80%;
    background-color:#e1cef1 ;
    border-radius: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}
.link_project{
    color:#7E3ABA;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    font-style: oblique;
    margin: 0;
}
.headerIconProject{
    width: 30px;
    margin:10px;
    cursor:pointer;
}