.skills__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;

}
.skills_header{
    width: 100px;
    height: 100px;
    border-radius: 150px;
    /* background-color: #548CA8; */
    background: -webkit-linear-gradient(90deg, #334257  10%, #476072 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: skillsHeader 20s linear 2s infinite alternate backwards running;
    color:white;
    font-weight: bolder;
    font-size: 1.7vw;
    cursor: pointer;

}
@media screen 
  and (max-width: 360px) 
  and (max-height: 640px) 
 {
    .skills_header{
        width: 30px;
        height: 30px;
        border-radius: 150px;
        /* background-color: #548CA8; */
        background: -webkit-linear-gradient(90deg, #334257  10%, #476072 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        animation: skillsHeader 20s linear 2s infinite alternate backwards running;
        color:white;
        font-weight: bolder;
        font-size: 1.7vw;
        cursor: pointer;
    
    }
}

@keyframes skillsHeader {
    0%{
    right:0px;
    top:0px;
    }
    25%{
    top:300px;
    right:0px
    }
    50%{
        top:0px;
        right:0px
    }
    75%{
        top:300px;
        right:0px;
    }
    100%{
        right:0px;
        top:0px;
    }
  }

  .skills_button_container{
        width:35%;
        background-color: #EEEEEE;
        opacity: 0.2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        margin-right: 100px;
        border-radius: 90px;
        position: relative;
        animation: skillsItem 8s ease 2s infinite alternate backwards running;
}
.first_list_skills, .second_list_skills, .third_list_skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: 50px;
    position: relative;
    animation: skillsItem 8s ease 2s infinite alternate backwards running;
    }
.list_skill{
    margin: 10px;
    color: #EEEEEE;
    list-style-type: none;
    font-size: 1.1vw;
    font-weight: bolder;
    font-style: oblique;
    cursor: pointer;
    position: relative;
    animation: skillsItem 8s ease 2s infinite alternate backwards running;
}
@keyframes skillsItem {
    0%{
        left:0px;
        top:0px
    }
    25%{
        left:100px
        }
        50%{
            left:150px
        }
        75%{
            left:250px;
        }
        100%{
            left:0px;
        }
  }