.skills__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;

}
.skills_header{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: -webkit-linear-gradient(90deg, #7E3ABA  10%, #af80da 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: skillsHeader 20s linear 2s infinite alternate backwards running;
    color:white;
    font-weight: bolder;
    font-size: 1.7vw;
    cursor: pointer;

}

@keyframes skillsHeader {
    0%{
    right:0px;
    top:0px;
    }
    25%{
    top:300px;
    right:0px
    }
    50%{
        top:0px;
        right:0px
    }
    75%{
        top:300px;
        right:0px;
    }
    100%{
        right:0px;
        top:0px;
    }
  }

  .skills_button_container{
        width:30%;
        background-color: #e1cef1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        margin-right: 100px;
        border-radius: 20px;
        position: relative;
        animation: skillsItem 8s ease 2s infinite alternate backwards running;
}
.first_list_skills, .second_list_skills, .third_list_skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: relative;
    animation: skillsItem 8s ease 2s infinite alternate backwards running;
    }
.list_skill{
    margin: 10px;
    color:  #7E3ABA;
    list-style-type: none;
    font-weight: bolder;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    cursor: pointer;
    position: relative;
    animation: skillsItem 8s ease 2s infinite alternate backwards running;
}
@keyframes skillsItem {
    0%{
        left:0px;
        top:0px
    }
    25%{
        left:100px
        }
        50%{
            left:150px
        }
        75%{
            left:250px;
        }
        100%{
            left:0px;
        }
  }