
.form__container{
    background-color:#e1cef1;
    opacity: 0.7;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.form_title{
    color: #7E3ABA;
    font-size: 2.5vw;
}

.form_input{
    margin: 10px;
    border-radius: 30px;
    height:40px;
    width: 40%;
}
.form_textarea{
    margin: 10px;
    border-radius: 10px;
    width:80%;
    height: 40px;
}
::-webkit-input-placeholder{
    text-align: center;
    font-size: 1.2vw;
    font-style: oblique;
    color: #7E3ABA;
}

.button_submit{
    background-color: #7E3ABA;
    width: 30%;
    height: 40px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    box-shadow: 10px 7px 7px #7E3ABA;
}
/* .Modal{
background-color: yellow;
overflow: hidden;
}
.Overlay{
    background-color: green; 

} */