@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@media screen and (min-width: 1024px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    overflow: hidden;
    width: 30%;
    background-color: #c0c0c0;
  }

  .form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    /*background: -webkit-linear-gradient(90deg, #334257 10%, #476072 70%);*/
  }
  #title {
    grid-area: head;
  }
  #inputName {
    grid-area: questions1;
  }
  #inputEmail {
    grid-area: questions2;
  }
  #inputTel {
    grid-area: questions3;
  }
  #iinputTextarea {
    grid-area: textarea;
  }
  #button {
    grid-area: button;
  }

  .form_title {
    font-size: 2vw;
    font-weight: bolder;
    font-family: "Architects Daughter", cursive;
  }

  .mailform-texto-button {
    cursor: pointer;
  }

  .form_input,
  .form_textarea {
    margin: 10px;
    padding: 10px;
    width: 70%;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    font-family: "Architects Daughter", cursive;
  }
  .form_input:focus {
    outline: none;
    border: 2px solid #fff;
  }
  .form_textarea {
    height: 100px;
  }

  ::-webkit-input-placeholder {
    text-align: start;
    font-size: 1.2vw;
    font-style: oblique;
    color: #476072;
    font-family: "Architects Daughter", cursive;
  }

  .button_submit {
    width: 20%;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5vw;
    background: -webkit-linear-gradient(90deg, #476072 10%, #334257 70%);
    font-family: "Architects Daughter", cursive;
  }
  span.message-not-valid {
    display: flex;
    width: 100%;
    /* background: yellow; */
    color: red;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  span.message-valid {
    display: flex;
    width: 100%;
    color: green;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
  }
}

/* tablet size */

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    overflow: hidden;
    width: 60%;
    background-color: #c0c0c0;
  }
  .form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background: -webkit-linear-gradient(90deg, #334257 10%, #476072 70%);
  }

  .form_title {
    color: #fff;
    font-size: 4.5vw;
    font-weight: bolder;
    font-family: "Architects Daughter", cursive;
  }

  .form_input,
  .form_textarea {
    padding: 10px;
    margin: 20px;
    width: 80%;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    font-family: "Architects Daughter", cursive;
  }
  .form_input:focus {
    outline: none;
    border: 2px solid #fff;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    font-size: 3vw;
    font-style: oblique;
    font-weight: bolder;
    color: #476072;
    font-family: "Architects Daughter", cursive;
  }

  .button_submit {
    width: 40%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 4.5vw;
    font-weight: bold;
    /* background-color: #476072;
        box-shadow: 10px 5px 20px #476072; */
    background: -webkit-linear-gradient(90deg, #476072 10%, #334257 70%);
    font-family: "Architects Daughter", cursive;
  }
}

/* phone size*/
@media screen and (max-width: 767px) and (min-width: 320px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none !important;
    overflow: hidden;
    width: 100%;
    background-color: #c0c0c0;
  }
  /* .form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background: -webkit-linear-gradient(90deg, #334257 10%, #476072 70%);
  }

  .form_title {
    color: #fff;
    font-size: 4.5vw;
    font-weight: bolder;
    font-family: "Architects Daughter", cursive;
  } 

  .form_input,
  .form_textarea {
    padding: 10px;
    margin: 20px;
    width: 80%;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    font-family: "Architects Daughter", cursive;
  }
  .form_input:focus {
    outline: none;
    border: 2px solid #fff;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    font-size: 3vw;
    font-style: oblique;
    font-weight: bolder;
    color: #476072;
    font-family: "Architects Daughter", cursive;
  }

  .button_submit {
    width: 40%;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 4.5vw;
    font-weight: bold;
    background-color: #476072;
    box-shadow: 10px 5px 20px #476072; 
    background: -webkit-linear-gradient(90deg, #476072 10%, #334257 70%);
    font-family: "Architects Daughter", cursive;
  }

  */
}
